body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f7;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

nav {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

nav a {
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    background: #e8e8ed;
    font-weight: 700;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.25, 1),
        border-color 300ms cubic-bezier(0.4, 0, 0.25, 1),
        color 300ms cubic-bezier(0.4, 0, 0.25, 1);
    color: #000000;
    font-size: 14px;
    display: inline-block;
}

nav a:hover {
    background-color: #000000;
    color: white;
}


.container {
    background-color: #ffffff;
    border-radius: 28px;
    padding: 20px;
    width: 100%;
    max-width: 1660px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    align-self: flex-start;
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

form {
    width: 100%;
}

table {
    width: 40%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #ffc385;
    color: #333;
}

td {
    background-color: #fff;
}

td input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

tr:nth-child(even) td {
    background-color: #f9f9f9;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #000000;
    color: white;
    border-radius: 100px;
    cursor: pointer;
}

td button {
    background-color: #e74c3c;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

footer {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    color: #555;
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    #app {
        display: none;
    }

    #mobile-restriction {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
        font-size: 20px;
        color: #333;
        
    }
}

@media only screen and (min-width: 769px) {
    #mobile-restriction {
        display: none;
    }
}

.info-button {
    padding: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: #e8e8ed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

}

.info-button-gif {
    width: 50%;
    height: 50%;
    display: inline-block;
}

.peek-view-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000;
}

.peek-view {
    background-color: #fff;
    padding: 20px;
    width: 400px;
    height: 100%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.peek-view .bmc-button-container {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.bmc-button-container {
    margin-top: 20px;
    text-align: center;
}

.invite-button {
    padding: 10px 20px;
    border-radius: 30px;
    background: #e8e8ed;
    font-weight: 700;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.25, 1),
        border-color 300ms cubic-bezier(0.4, 0, 0.25, 1),
        color 300ms cubic-bezier(0.4, 0, 0.25, 1);
    color: #000000;
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
}

.invite-button:hover {
    background-color: #000000;
    color: white;
}

.invite-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.invite-modal {
    background-color: #fff;
    padding: 20px;
    width: 894px;
    height: 515px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #000;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .footer-text {
    color: #e0e0e0;
}

.footer-text {
    color: var(--framer-text-color, #6e6e6e);
    font-family: var(--framer-font-family, "SF Pro Rounded Regular", "SF Pro Rounded Regular Placeholder", "-apple-system", "BlinkMacSystemFont", sans-serif);
    font-size: var(--framer-font-size, 14px);
    font-weight: var(--framer-font-weight, 400);
    font-style: var(--framer-font-style, normal);
    line-height: var(--framer-line-height, 1.2em);
    letter-spacing: var(--framer-letter-spacing, 0);
    text-align: var(--framer-text-alignment, center);
    margin: 10;
    padding: 0;
    letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
    line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
    -webkit-text-stroke-width: var(--framer-text-stroke-width, initial);
    -webkit-text-stroke-color: var(--framer-text-stroke-color, initial);
    font-feature-settings: var(--framer-font-open-type-features, initial);
    text-wrap: var(--framer-text-wrap-override, var(--framer-text-wrap));
    box-sizing: border-box;
    -webkit-font-smoothing: inherit;
}


.hover-effect:hover {
    font-family: var(--framer-link-hover-font-family, var(--framer-blockquote-font-family, var(--framer-link-font-family, var(--framer-font-family, Inter, sans-serif))));
    font-style: var(--framer-link-hover-font-style, var(--framer-blockquote-font-style, var(--framer-link-font-style, var(--framer-font-style, normal))));
    font-weight: var(--framer-link-hover-font-weight, var(--framer-blockquote-font-weight, var(--framer-link-font-weight, var(--framer-font-weight, 400))));
    color: var(--framer-link-hover-text-color, var(--framer-blockquote-text-color, var(--framer-link-text-color, var(--framer-text-color, #000))));
    font-size: calc(var(--framer-link-hover-font-size, var(--framer-blockquote-font-size, var(--framer-font-size, 16px))) * var(--framer-font-size-scale, 1));
    text-transform: var(--framer-link-hover-text-transform, var(--framer-blockquote-text-transform, var(--framer-link-text-transform, var(--framer-text-transform, none))));
    text-decoration: var(--framer-link-hover-text-decoration, var(--framer-blockquote-text-decoration, var(--framer-link-text-decoration, var(--framer-text-decoration, none))));
    transition: color 0.3s ease;
}

.hover-effect-link {
    color: inherit;
    text-decoration: none;
}